@model GAMF.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h2 class="set-top-margin">Jelentkezés részletei</h2>

<div>
    <h4>Hallgató</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstMidName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstMidName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnrollmentDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnrollmentDate)
        </dd>
        <dd>
            <table class="table">
                <tr>
                    <th>
                        Tantárgy
                    </th>
                    <th>
                        Fokozat
                    </th>
                </tr>
                @foreach (var item in Model.Enrollments)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Courses.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Grade)
                        </td>
                    </tr>
                }
            </table>

        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Jelentkezés szerkesztése</a> |
    <a asp-action="Index">Vissza a Hallgatók listájához</a>
</div>
